appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
.fake
.env

# Ignore build output and IDE files
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
# Ignore all SSH private keys
.ssh/id_ed25519

